<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap 5.1 -->
		<!--(https://getbootstrap.com/docs/5.1/getting-started/introduction/) -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

		<link rel="shortcut icon" href="https://mynet.it/master/favicon.ico">
		<title>Progetto Hotspot</title>
	</head>
	<body>
		<h1>Progetto Hotspot</h1>

		{% if errore is defined %}
			<p>{{ errore }}</p>
		{% endif %}

		<form action="/elaborazione" method="post" enctype="multipart/form-data">
			Template: <input type="file" name="template" accept=".zip, .tar.gz"><br>
			Codici: <input type="file" name="codici" accept=".csv"><br>
			<button type="submit">Elabora</button>
		</form>
	</body>
</html>
